/WheelyCleanBackend/.gradle
/WheelyCleanBackend/.nb-gradle/
/WheelyCleanBackend/build/
WheelyCleanBackend/WheelyCleanBackend.iml
WheelyCleanBackend/local.properties
/WheelyCleanBackend/.idea/

/WheelyCleanBackend/src/main/resources/application.properties
