.mat-list-item h4 {
    font-size: 20px;
    letter-spacing: 1px;
}
.mat-list-item p {
    font-size: 12px;
}
.pink {
    color: #FB71D0;
}
.blue{
    color: #ACDAFF;
}
.red{
    color: #EE2D2D;
}
.green{
    color: #6AC112;
}
.grey{
    color: #C0BFBF
}