@import "../../../stylings/wheely-clean-colors.scss";

.container > * {
    width: 100%;
}

.statusIndicator h4 {
    font-size: 20px;
    letter-spacing: 1px;
    padding-left: 20px;
}

.statusIndicator{
    display: flex;
    align-items: center;
}

.mat-list-item h4 {
    font-size: 20px;
    letter-spacing: 1px;
}
.mat-list-item p {
    font-size: 12px;
}
.pink {
    color: $wheely-clean-pink;
}
.blue{
    color: $wheely-clean-blue;
}
.red{
    color:  $wheely-clean-red;
}
.green{
    color: $wheely-clean-green;
}
.grey{
    color:  $wheely-clean-grey;
}

.submit-buttons{
    display: flex;
    justify-content: flex-end;

    button{
        width: 100px;
    }
  } 

  @import "../../../stylings/wheely-clean-colors.scss";
.container{
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    .carInformation {
        display: flex;
        flex-flow: row wrap;

        .info{
            flex-direction: column;
            flex-basis: 48%;
            span{
                color: #666666;
            }
            p{
                font-size: 16px;
            }
        }
    }
    button{
        align-self: flex-end;
        margin-top: 20px;
    }
}
.bronze{
    color: $wheely-clean-bronze;
}
.gold{
    color: $wheely-clean-gold;
}
.silver{
    color: $wheely-clean-silver;
}
.platinum{
    color: $wheely-clean-platinum;
}
