@import "../../../stylings/wheely-clean-colors.scss";
.container{
    display: flex;
    flex-direction: column;
    padding: 20px 30px;
    .carInformation {
        display: flex;
        flex-flow: row wrap;

        .info{
            flex-direction: column;
            flex-basis: 48%;
            span{
                color: #666666;
            }
            p{
                font-size: 16px;
            }
        }
    }
    button{
        align-self: flex-end;
        margin-top: 20px;
    }
}
.bronze{
    color: $wheely-clean-bronze;
}
.gold{
    color: $wheely-clean-gold;
}
.silver{
    color: $wheely-clean-silver;
}
.platinum{
    color: $wheely-clean-platinum;
}
