$wheely-clean-pink : #FB71D0;
$wheely-clean-blue : #ACDAFF;
$wheely-clean-red : #EE2D2D;
$wheely-clean-green : #6AC112;
$wheely-clean-grey : #C0BFBF;
$wheely-clean-bronze: #CD7F32;
$wheely-clean-gold: #D4AF37;
$wheely-clean-silver: #C0C0C0;
$wheely-clean-platinum: #E5E4E2;
